<!DOCTYPE html>
<html layout:decorate="~{layouts/layout1}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

    <style>
        #chatArea {
            justify-content: center;
        }

        .card {
            width: 350px;
            display: inline-block;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .messageText {
            width: 220px;
        }
    </style>

    <script th:inline="javascript">

        const websocket = new WebSocket("wss://ec2-13-209-198-40.ap-northeast-2.compute.amazonaws.com:443/ws/chat");
        // 웹소켓 메세지 수신시 = onMessage() 실행;
        websocket.onmessage = onMessage;

        //-------------------------------------------------[메세지 발신]---------------------------------------------------------------------//

        function send(event) {
            
            // 웹소켓으로 보내기
            var button = event.target;
            var sendTo = button.value;
            // console.log("send to " + sendTo);
            // 버튼의 부모 부모 div 요소
            var parentDiv = button.closest(".card-body");
            // 부모 div 내의 textarea 요소
            var textarea = parentDiv.querySelector("textarea");

            // 메세지 보내기
            // console.log("text " + textarea.value);
            websocket.send(sendTo + "," + textarea.value);

            // 보낸 메세지 html에 추가
            var messageArea = parentDiv.querySelector(".message-area");
            var sentMessage = `
            <div class="d-flex flex-row justify-content-end mb-4">

                <div class="p-3 ms-3 border" style="border-radius: 15px; background-color:  #fbfbfb;">
                    <p class="small mb-0 messageText">`+ textarea.value + `</p>
                </div>

                <img src="../image/operator.png" alt="avatar 1" style="width: 45px; height: 100%; border: 1px solid gray; border-radius: 5px; margin: 10px;">
            </div>
            `;
            textarea.value = '';
            messageArea.innerHTML += sentMessage;
        }
        //-------------------------------------------------[메세지 발신 끝]---------------------------------------------------------------------//


        //-------------------------------------------------[메세지 수신]---------------------------------------------------------------------//
        function onMessage(msg) {

            // 웹소켓으로 받은 메세지
            var data = msg.data;
            // console.log("수신 " + data);

            // [이메일, type, 메세지 내용]
            var messageParts = data.split(",");

            // 메세지 내용의 쉼표 등으로 인해 split 결과가 3개 초과인 경우, 나머지를 모두 3번에 합침
            // ["이메일,type","메세지 내용"]
            if (messageParts.length > 3) {
                var lastPart = messageParts.slice(2).join(",");
                var result = [messageParts[0] + "," + messageParts[1], lastPart];
            }
            else {
                var result = [messageParts[0] + "," + messageParts[1], messageParts[2]];
            }

            // 메세지 발신자의 채팅창 선택
            var chatTarget = document.getElementById(result[0]);
            if (!chatTarget) { // 해당 채팅창이 없을경우 새로 생성

                var backgroundColor = '';
                // 로그인 타입별 색깔 구분
                if (messageParts[1] == 'google') {
                    var backgroundColor = 'background-color: #4285F4 !important;';
                }
                else if (messageParts[1] == 'naver') {
                    var backgroundColor = 'background-color: #03C75A !important;';
                }
                else if (messageParts[1] == 'kakao') {
                    var backgroundColor = 'background-color: #FEE500 !important;';
                }


                var chatArea = document.getElementById("chatArea");
                var newChat = `
                <div class="card" id="` + result[0] + `" style="border-radius: 15px;">

                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px; border-top-right-radius: 15px; `+ backgroundColor + `">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">`+ messageParts[0] + `</p>
                        <i class="fas fa-times"></i>
                    </div>

                    <div class="card-body">

                        <div class="message-area">
                        </div>

                        <div class="form-outline">
                            <textarea class="form-control" rows="4"></textarea>
                            <label class="form-label" for="textAreaExample">Type your message</label>
                            <button class="btn btn-outline-secondary" type="button" onclick="send(event)" value="`+ result[0] + `">전송</button>
                        </div>

                    </div>

                </div>
                `;
                chatArea.innerHTML += newChat;

                // 생성 후 다시 선택
                var chatTarget = document.getElementById(result[0]);
            }


            // 메세지 html에 추가
            var messageArea = chatTarget.querySelector("div.message-area");
            var receivedMessage = `
            <div class="d-flex flex-row justify-content-start mb-4">
                <img src="../image/operator.png" alt="avatar 1" style="width: 45px; height: 100%; border: 1px solid gray; border-radius: 5px; margin: 10px;">

                <div class="p-3 ms-3 border" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0 messageText">`+ result[1] + `</p>
                </div>

            </div>
            `;
            messageArea.innerHTML += receivedMessage;
        }

        //-------------------------------------------------[메세지 수신 끝]---------------------------------------------------------------------//

    </script>

    <h1>관리자 채팅</h1>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div id="chatArea">

            </div>
        </div>
    </section>

</div>